/* LogIn Stylesheet*/

body{
    font-family: 'Nunito';
    background: linear-gradient(120deg,#FDB196,#FAD2A7,#FBEAC8,#B1D9CD,#93C2C6);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.content{
    position: absolute;
    width: 400px;
    background: white;
    border-radius: 10px;
}
.content h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}
.content form {
    padding: 0 40px;
    box-sizing: border-box;
}
form .textFields {
    position: relative;
    border-bottom: 2px;
    margin: 30px 0;
}
.textFields input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 15px;
    border: none;
    background: none;
    outline: none;
}
.textFields label{
   position: absolute;
   top: 50%;
   left:5px;
   color: #adadad;
   transform: translateY(-50%);
   font-size: 15px;
   pointer-events: none;
   transition: .5s;
}
.textFields span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #93C2C6;
    transition: .5s;
}
.textFields input:focus ~ label,
.textFields input:valid ~ label {
    top: -5px;
    color: #93C2C6;
}

.textFields input:focus ~ span::before,
.textFields input:valid ~ span::before{
    width: 100%;
}

input[type= "button"] {
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #93C2C6;
  border-radius: 25px;
  font-size: 18px;
  font-family: 'Nunito';
  color: #CAF0F6;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  justify-content: center;
}

input[type= "button"]:hover{
  border-color:#B1D9CD ;
  transition: .5s;
}
.signUpLink {
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}
.signUpLink a{
  color: #93C2C6;
  text-decoration: none;
}
.signUpLink a:hover{
  text-decoration: underline;
}

/* SignUp Stylesheet*/

.container {
  font-family: 'Nunito';
  background: linear-gradient(120deg,#C0DEDA,#C2CBE4,#F4F3EA,#F7E7DC,#EED3E5, #D4C4E9);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.contentContainer{
  width: 400px;
  height: 660;
  background: white;
  border-radius: 10px;
}
.contentContainer h1{
  text-align: center;
  padding: 0 0 20px 0;
  border-bottom: 1px solid silver;
}
.formContent form{
  width: 300px;
  margin-left: 10%;
}
.formContent label{
  display: flex;
  margin-top: 20px;
  font-size: 18px;
  pointer-events: none;
  transition: .5s;

}
.formContent input {
  font-size: 17px;
  font-family: 'Nunito';
  width: 100%;
  padding: 7px;
  color: #666666;
  border: none;
  border-bottom: 1px solid #93C2C6;
  outline: none;

}
.formContent select {
  width: 100%;
  height: 30px;
  margin-top: 5px;
  border-radius: 10px;
  font-family: 'Nunito';
  border-color: #93C2C6;
  border-width: medium;
  color: #9c9c9c;

}

.contentContainer input[type= "button"] {
  width: 100%;
  height: 50px;
  border: 1px solid;
  margin-top: 20px;
  background: #93C2C6;
  border-radius: 25px;
  font-size: 18px;
  color: #CAF0F6;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  justify-content: center;
}
.contentContainer input[type= "button"]:hover{
  border-color:#B1D9CD ;
  transition: .5s;

}
/* Profile Stylesheet*/

.profile {
    margin: 0;
    font-family: 'Nunito';
    font-size: 17px;
    color: #957DAD;
    line-height: 1.6;
}

.box{
  box-sizing: border-box;
  width: 153px;
  height: 153px;
  border:2px solid  #adabdb;
  box-shadow: -3px -3px 7px #ffffff73,
  3px 3px 5px rgba(94,104,121,0.288);
  border-radius: 50%;
  background-color: #adabdb;
  margin-top: 50px;
  overflow: hidden;
  transition: all 1s;
}
.box:hover{
  width: 360px;
  height: 600px;
  border-radius: 5px;
}
.pf img{
  box-sizing: border-box;
  width:149px;
  height:149px;
  border-radius:50%;
  margin:0;
  border:5px solid rgb(205, 180, 230);
  padding: 3px;
  background-color: white;
  overflow: hidden;
  transition: all 1s;

}
.box:hover img{
  width: 100px;
  height: 100px;
  margin:20px 35% ;
}
.pf hr{
  width:500px;
  line-height:20px;
  margin:10px 10px 10px 10px;
}
.pf input[type="text"],
.pf input[type="text"],
.pf input[type="text"] {
  display: block;
  box-sizing: border-box;
  color: #fff;
  margin-bottom: 30px;
  padding: 4px;
  width: 220px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #fff;
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
  background: none;
}
.pf input[type="text"]{
  margin-top: 25px;
}

.pf input[type="text"]:focus,
.pf input[type="email"]:focus,
.pf input[type="number"]:focus {
  border-bottom: 2px solid #fff;
  border-bottom-right-radius:20px;
  color: #fff;
  transition: 0.2s ease;
  background: rgba(156, 10, 240, 0.212);
  border-top: none;

}


.pf button{
  border:1px solid #fff;
  background-color: #957DAD;
  color:white;
  height: 30px;
  width: 100px;
  border-radius: 5px;
  left:0;
  margin:0px;
  transition: all .3s;
}
.pf button:hover{
  transform: scale(1.1);
  background-color: rgba(240, 10, 152, 0.24);
}
.pf input[type="file"]{
  display:none;
}
.pf label {
  box-sizing: border-box;
  width:40px;
  height:20px;
  background-color: #957DAD;
  color:white;
  border:1px solid #fff;
  background-color: #957DAD;
  color:white;
  padding: 4px;
  border-radius: 2px;
}

.pf label:hover {
  background-color: rgba(240, 10, 152, 0.24);
  transform: scale(1.1);
}
.bs button {
  background-color: #957DAD;
  color: white;
  font-family: 'Nunito';
  float: left;
  margin: 10px 0 0 18.2%;
}
/*Navigation bar*/
.navbar{
    height: 80px;
    width: 100%;
    background: rgba(0,0,0,0.4);
}
.navbar ul {
    float: right;
    margin-right: 20px;
}
.navbar ul li {
    list-style: none;
    margin: 0 8px;
    display: inline-block;
    line-height: 80px;
}
.navbar ul li a{
    text-decoration: none;
    color:white;
    font-size: 20px;
    padding: 6px 13px;
    transition: .5s;
}
.navbar ul li a.active,
.navbar ul li a:hover {
    background: rgb(141, 137, 137);
    border-radius: 20px;

}
